body {
    background-image: url("/Users/srinivasagudi/Desktop/DevForge/frontend/background.png");
    background-size: cover;
}

.caption {
    text-align: center;
    color: white;
}

.title1 {
    text-align: center;
    color: white;
    text-decoration: underline;
}
